<div [ngSwitch]="field.type" [formGroup]="form">
    <label for="{{ field.name }}">{{ field.name }}</label>
    <input *ngSwitchCase="'text'" class="col-12 form-control-lg" type="text" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name">
    <input *ngSwitchCase="'number'" class="col-12 form-control-lg" type="number" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name">
    <textarea *ngSwitchCase="'textarea'" class="col-12 form-control-lg" rows="4" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name"></textarea>
    <input *ngSwitchCase="'datetime-local'" class="col-12 form-control-lg" type="datetime-local" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name">
    <input *ngSwitchCase="'date'" class="col-12 form-control-lg" type="date" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name">
    <div *ngSwitchCase="'image'">
        <input class="col-12 form-control-lg" type="file" accept="image/*" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name" (change)="onFileSelect($event)">
        <div>
            <app-media [image]="form.get(field.name)"></app-media>
        </div>
    </div>
    <div *ngSwitchCase="'video'">
        <input class="col-12 form-control-lg" type="file" accept="video/*" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name" (change)="onFileSelect($event)">
        <div>
            <app-media [video]="form.get(field.name)"></app-media>
        </div>
    </div>
    <div *ngSwitchCase="'audio'">
        <input class="col-12 form-control-lg" type="file" accept="audio/*" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name" (change)="onFileSelect($event)">
        <div>
            <app-media [audio]="form.get(field.name)"></app-media>
        </div>
    </div>
    <div *ngSwitchCase="'pdf'">
        <input class="col-12 form-control-lg" type="file" accept="application/pdf" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name" (change)="onFileSelect($event)">
        <div>
            <app-media [pdf]="form.get(field.name)" [form]="form" [name]="field.name"></app-media>
        </div>
    </div>
    <div *ngSwitchCase="'dropdown'">
        <select class="col-12 form-control-lg" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name">
            <option *ngFor="let el of list" value="{{ el }}">{{ el }}</option>
        </select>
    </div>
    <div *ngSwitchCase="'checkbox'">
        <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" [formControlName]="field.name">
        <!-- <mat-checkbox id="{{ field.name }}" name="{{ field.name }}" [formControlName]="field.name"></mat-checkbox> -->
    </div>
    <div *ngSwitchCase="'radiobuttons'">
        <!-- <div *ngFor="let el of list">
            <input type="radio" id="{{ el }}" name="{{ field.name }}" [formControlName]="field.name">
            <label for="{{ el }}">{{ el }}</label>
        </div> -->
        <mat-radio-group [formControlName]="field.name">
            <mat-radio-button class="radio-buttons" *ngFor="let el of list" [value]="el">
                {{el}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div *ngSwitchCase="'text-area'">
        <textarea class="col-12 form-control-lg" id="{{ field.name }}" name="{{ field.name }}" rows="4" [formControlName]="field.name"></textarea>
    </div>
    <div *ngSwitchCase="'location'">
        <input class="col-12 form-control-lg" type="text" name="{{ field.name }}" id="{{ field.name }}" [formControlName]="field.name" style="margin-bottom: 10px;" disabled/>
        <app-input-maps class="col-12 form-control-lg" [cords]="form.get(field.name)" id="{{ field.name }}" name="{{ field.name }}" (changeCoordinates)="onChangeCoordinates($event)"></app-input-maps>
    </div>
</div>