<main id="main">
<section id="contact" class="contact" style="margin-top: 100px;">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
          <h2>Unesite podatke o profilu</h2>
      </div>
  
      <div class="row d-flex justify-content-center">
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form class="php-email-form roundCorners" id="form" [formGroup]="myForm" (ngSubmit)="update(myForm.value)">
                  <div class="form-group">
                    <div>
                      <label for="oldPass">Old password</label>
                      <input class="form-control" type="password" formControlName="oldPass" name="oldPass" id="oldPass">
                    </div>

                    <div [ngClass]="{'error': !samePassword()}">
                      <label for="newPass">New password</label>
                      <em *ngIf="!samePassword()">Not same</em>
                      <input class="form-control" type="password" formControlName="newPass" name="newPass" id="newPass">  
                    </div>
  
                    <div [ngClass]="{'error': !samePassword()}">
                      <label for="repPass">Repeat password</label>
                      <em *ngIf="!samePassword()">Not same</em>
                      <input class="form-control" type="password" formControlName="repPass" name="repPass" id="repPass">  
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit" id="subBtn" [disabled]="!validForm()">
                      <div *ngIf="loading">
                        <span id="loadSpan" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      </div>
                      <div *ngIf="!loading">Change Password</div>
                    </button>
                  </div>
                  
              </form>
          </div>
      </div>
  
    </div>
  </section>
  
</main>