<main id="main">
<section id="contact" class="contact" style="margin-top: 100px;">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
          <h2>Unesite podatke o profilu</h2>
      </div>
  
      <div class="row d-flex justify-content-center">
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form action="#" class="php-email-form roundCorners" id="form" [formGroup]="myForm" (ngSubmit)="update()">
                  <div class="form-group">
                    <label for="oldPass">Old password</label>
                    <input class="form-control" type="password" name="oldPass" id="oldPass">
  
                    <label for="newPass">New password</label>
                    <input class="form-control" type="password" name="newPass" id="newPass">
  
                    <label for="repPass">Repeat password</label>
                    <input class="form-control" type="password" name="repPass" id="repPass">
                  </div>
                  <div class="text-center"><button class="btn btn-primary" type="submit" id="subBtn">
                    <span id="loadSpan" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    <span id="textSpan" class="sr-only">Change Password</span>
                  </button></div>
                  
              </form>
          </div>
      </div>
  
    </div>
  </section>
  
</main>