<main id="main" [routerLink]="['/details', currentDataKey]">

    <section class="breadcrumbs">
    
      <section id="contact" class="contact">
        <div class="container out-conatiner" data-aos="fade-up">
  
          <div class="section-title">
              <h2>Artifact data</h2>
          </div>
  
          <div class="row d-flex justify-content-center">
              <div class="col-lg-10 d-flex align-items-stretch">
                <div class="php-email-form roundCorners">
                  <form id="form" [formGroup]="searchForm">
                    <div >
                      <div class="form-group">
                        <label for="category">Kategorija</label>
                        <select class="col-12 form-control-lg" id="category" (change)="onChangeCategory($event.target.value)" formControlName="category">
                          <option *ngFor="let category of categories" value="{{ category.key }}">{{ category.name }}</option>
                        </select>
                      </div>
    
                      <div class="form-group">
                        <label for="code">Kod</label>
                        <select class="col-12 form-control-lg" id="code" (change)="onChangeCode($event.target.value)" formControlName="key">
                          <option *ngFor="let code of codes" value="{{ code }}">{{ code }}</option>
                        </select>
                      </div>
                    </div>
  
                  </form>
                  <form [formGroup]="form" (ngSubmit)="saveData()" >
  
                    <div *ngFor="let field of currentCategory" class="form-group">
                      <app-input [field]="field" [form]="form" [category]="currentCategoryKey"></app-input>
                    </div>
  
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Creation was successful. Thank you!</div>
                    </div>
                    <div class="text-center" *ngIf="this.authService.isUpdateOrAdmin()">
                      <button class="btn btn-primary" type="submit" id="subBtn">
                        <div *ngIf="loading">
                          <span id="loadSpan" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </div>
                        <div *ngIf="!loading">Save</div>
                      </button>
                      <button class="btn btn-link" class="btn-delete" (click)="onDeleteObject($event)">
                        <div *ngIf="loading2">
                          <span id="loadSpan2" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </div>
                        <div *ngIf="!loading2"><fa-icon [icon]="faTrash"></fa-icon></div>
                      </button>
                    </div>
                    <div class="text-center" *ngIf="this.authService.isUpdateOrAdmin()">
                      
                    </div>      
  
                  </form>
                </div>
              </div>
          </div>
  
        </div>
      </section>
    </section>
      
      <div id="snackbar">Artifakt uspješno ažuriran</div>

</main>