
<header id="header" class="fixed-top d-flex align-items-center " *ngIf="user">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Museum</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li *ngIf="this.authService.isUpdateOrAdmin()"><a class="nav-item nav-link" routerLinkActive="active" routerLink="/create">Create</a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/search">Search</a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/details">Details</a></li>
          <li class="dropdown"><a href="/profile"><span>Account</span> <fa-icon style="margin-left: 5px;" [icon]="faChevronDown"></fa-icon></a>
            <ul>
              <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/profile">Profile</a></li>
              <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/changePassword">Change password</a></li>
              <li *ngIf="this.authService.isAdmin()"><a class="nav-item nav-link" routerLinkActive="active" routerLink="/users">Account management</a></li>
              <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
            </ul>
          </li>
          <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/profile">Welcome, {{this.user.firstname}}</a></li>
        </ul>
        <fa-icon class="mobile-nav-toggle" [icon]="faList" (click)="mobileNavToggle()"></fa-icon>
      </nav>

    </div>
  </header>


  <div class="mobile-nav" *ngIf="showMobileNavBar" (click)="onMobileNavClick()">
    <ul>
      <li *ngIf="this.authService.isUpdateOrAdmin()"><a class="nav-item nav-link" routerLinkActive="active" routerLink="/create"><span>Create</span></a></li>
      <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/search"><span>Search</span></a></li>
      <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/details"><span>Details</span></a></li>
      <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/profile"><span>Profile</span></a></li>
      <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/changePassword"><span>Change password</span></a></li>
      <li *ngIf="this.authService.isAdmin()"><a class="nav-item nav-link" routerLinkActive="active" routerLink="/users"><span>Account management</span></a></li>
      <li><a class="nav-item nav-link" (click)="logout()"><span>Logout</span></a></li>
    </ul>
  </div>

<div class="container" [style.margin-top]="showMobileNavBar ? '400px': '100px'">
    <router-outlet></router-outlet>
</div>
