
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/search">Search</a>
        <a class="nav-item nav-link" routerLink="/details">Details</a>
        <a class="nav-item nav-link" routerLink="/create" *ngIf="isUpdate || isAdmin">Create</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>
