<header id="header" class="fixed-top d-flex align-items-center header-transparent">
<div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
    <h1 class="text-light"><a href="/"><span>Museum</span></a></h1>
    </div>

</div>
</header>

<main id="main">
<!-- <div class="hr d-flex align-items-center header-transparent"></div> -->
<form class="box" id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <p class="text-muted"> Please enter your login and password!</p> 
    <input type="text" name="username" formControlName="username" placeholder="Username"> 
    <input type="password" name="password" formControlName="password" placeholder="Password"> 
    <p *ngIf="textDanger" class="text-danger" id="txtDanger">{{ textDanger }}</p> 
    <a class="forgot text-muted" href="#">Forgot password?</a>
    <input type="submit" name="" value="Login" href="#">
</form>
</main>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>