<!-- <div *ngIf="useFilter()"> -->
<div *ngIf="useFilter()" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="grid-item component">
        <div class="front">
            <div class="front-up">
                <div class="outer-front">
                    <div class="middle">
                        <div class="inner">
                            <img [src]="source" alt="No image" class="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-text front-down">
                <h4 class="text-name">{{item.name}}</h4>
            </div>
        </div>

        <div class="overlay">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <div class="ul-back">
                            <a [routerLink]="['/details', item.key]"><div><span>Details</span></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

