<main id="main">

    <form action="" id="form_search" [formGroup]="form" (ngSubmit)="search()">
      <section class="row justify-content-center">
        <!-- <select name="category" id="category" class="form-select-lg col-md-3">
          <option value='*'>Sve kategorije</option>
          <option *ngFor="let category of categories" value="{{ category.key }}">{{ category.name }}</option>
        </select> -->
        <input formControlName="search" id="textSearch" type="text" class="form-select-lg col-md-5">
        <input id="btnSearch" type="submit" class="form-select-lg col-md-2" value="Pretraga">
      </section>
    </form>

    <section class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li id= "li_*" data-filter="*" class="filter-active">Sve kategorije</li>
              <li *ngFor="let category of categories" (click)="changeFilter(category.key)" data-filter="{{'.filter-' + category.key}}"  id="{{'li_' + category.key}}">{{ category.name }}</li>
            </ul>
          </div>
        </div>

        <div id="itemsContainer" class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
          <div *ngFor="let item of results" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <app-search-item [item]="item" [filter]="filter"></app-search-item>
          </div>
          
        </div>

      </div>
    </section>

</main>

